@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select name="category" class="form-select" asp-items="@(new SelectList(Model.Categories,"CategoryId","Name",Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>
<form method="post"  asp-action="EditProducts">
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th style="width:100px;">@Html.DisplayNameFor(p => p.Products[0].ProductId)</th>
            <th style="width:100px;">@Html.DisplayNameFor(p => p.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(p => p.Products[0].Name)</th>
            <th style="width:100px;">@Html.DisplayNameFor(p => p.Products[0].Price)</th>
            <th></th>
            <th style="width:130px;"></th>
        </tr>
    </thead>
    <tbody>
        @for(var i=0;i<Model.Products.Count;i++)
        {
            <tr>
                <td>@Model.Products[i].ProductId</td>
                <td>
                        <img class="img-fluid" src="~/img/@Model.Products[i].Image" alt="" />
                </td>
                    <td>@Model.Products[i].Name</td>
                    <td>@Model.Products[i].Price</td>
                <td>
                    <input type="checkbox" asp-for="@Model.Products[i].IsActive" />
                </td>
                <td>
                        <a href="/Home/Edit/@Model.Products[i].ProductId" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/Home/Delete/@Model.Products[i].ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>